.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}






.FTFwrapper {
   position: absolute;
}


.childFTField {
	display: block;
	position: absolute;
	/*top:84px;
	left: 170px;*/
	width: 420px;
	height: 24px;
	/*font-size: 1.5em;*/
	padding: 5px; 
	background-color: transparent;
	border-width: 0px;
	outline-width: 0;
	
}


body
{
	overflow-x: hidden;
}
.smallFont{	font-size: 1em;}.mediumFont{	font-size: 1.5em;}.biggerFont{	font-size: 2em;}html.noscroll 
{
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}